.App {
  text-align: center;
  padding: 0 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.form-selector, div.list-item {
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 16px;
}

div.form-selector > div {
  width: 100%;
  min-width: 300px;
  max-width: 500px;
}

div.form-selector > input {
  width: 100%;
  font-size: 16px;
  padding: 0 6px;
  box-sizing: border-box;
}

.form-label {
  display: flex;
  align-items: start;
  padding: 5px 0 5px;
}

.list-item {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}

.list-item:hover {
  border: 1px solid firebrick;
  background-color: lightcoral;
}

.list-item > a > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-item > a {
  display: flex;
  width: 100%;
  text-decoration: none;
  color: #222;
}

.no-syllabus div {
  color: #bbb;
}

.list-item > a > div:nth-child(1) {
  width: 27%;
}
.list-item > a > div:nth-child(2) {
  width: 40%;
}
.list-item > a > div:nth-child(3) {
  width: 8%;
}
.list-item > a > div:nth-child(4) {
  width: 8%;
}
.list-item > a > div:nth-child(5) {
  width: 17%;
}

@media (max-width: 400px) {
  .list-item > a > div:nth-child(1) {
    display: none;
  }
  .list-item > a > div:nth-child(2) {
    width: 50%;
  }
  .list-item > a > div:nth-child(3) {
    width: 15%;
  }
  .list-item > a > div:nth-child(4) {
    width: 15%;
  }
  .list-item > a > div:nth-child(5) {
    width: 20%;
  }
}

@media (max-width: 800px) {
  .github-ribbon {
    visibility: hidden;
  }
}
